<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ESED INFO - Admin Console</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- build:css styles/css/vendor.css -->

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- endbuild -->

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">

    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        .pointer {
            cursor: pointer;
        }

        dd.a {
            white-space: nowrap;
        }

        .chat {
            overflow: auto;
            -ms-overflow-x: hidden;
            overflow-x: hidden;
            height: 290px;
            position: relative;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            border-top: 0;
            overflow-y: scroll;
        }

        .jumbotron {
            padding-top: 4px;
            padding-bottom: 4px;
        }

    </style>

    <!--[if lt IE 9]>
    <script src="bower_components/angular-point/dist/ie-safe.min.js"></script>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body ng-app="esedInfo" ng-controller="adminController">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><i class="fa fa-home"></i> ESED Emergency Bulletin Board</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a tooltip-placement="bottom" tooltip="Send suggestions or questions." class="btn btn-link"
                   href="mailto:esedinfo@scotthatcher.com"
                   target="_top"><i class="fa fa-envelope"></i> <span class="hidden-xs">Questions/Suggestions</span></a>
            </li>
            <li>
                <a tooltip-placement="bottom" tooltip="The number of ESED'ers currently on the site.">
                    <span class="label label-danger" ng-bind="state.userCount"></span> <span
                        class="hidden-xs">Online</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <h1><i class="fa fa-fire" style="color: red"></i> ESED Emergency Status</h1>

        <p>This site was <abbr class="pointer" data-toggle="tooltip" title
                               tooltip="This is an understatement :)">hastily</abbr>
            created to allow for easier dissemination of information regarding the recent evacuation.
            Stay tuned for updates.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list-ul"></i> Status Updates</h3>
                </div>
                <!--<div class="panel-body">-->
                <div class="list-group" ng-if="posts">
                    <div class="list-group-item" ng-repeat="post in posts | orderByPriority | orderBy:'-order'">
                        <h5 class="list-group-item-heading">{{post.date}}
                            <span ng-show="$first"
                                  class="label label-success label-sm">new</span>
                            <a href="" ng-click="openModal(post)">Edit</a>
                        </h5>
                        <div data-ng-bind-html="trustHTML(post.content)" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-phone"></i> Contacts</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>
                            Shawna Barela <a href="tel:+1-760-421-8718">760-421-8718</a>
                        </li>
                        <li>
                            Ryan Olsen <a href="tel:+1-760-560-6509">760-712-2068</a>
                        </li>
                        <li>
                            Jim Ryan <a href="tel:+1-760-560-6509">760-560-6509</a>
                        </li>
                        <li>
                            David Sims <a href="tel:+1-760-685-4983">760-685-4983</a>
                        </li>
                        <li>
                            Mike Verboom <a href="tel:+1-760-691-6816">760-691-6816</a>
                        </li>
                        <li>
                            Matt O'Malley <a href="tel:+1-760-822-9525">760-822-9525</a>
                        </li>
                        <li>
                            Douglas Barela <a href="tel:+1-760-691-6846">760-691-6846</a>
                        </li>
                        <li>
                            Dale Puett <a href="tel:+1-760-822-8831">760-822-8831</a>
                        </li>
                        <li>
                            Mike Stefani <a href="tel:+1-760-691-6847">760-691-6847</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-comments"></i> Discussion</h3>
                    </div>
                    <div class="chat" scroll-glue>
                        <table class="table table-striped small">
                            <tbody>
                            <tr ng-repeat="message in messages">
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <strong>{{message.user}}</strong> (<em>{{ message.time | date:'short'}}</em>)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p>{{message.message}}</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer small">
                        <div class="form-group">
                            <label>Your name:</label>
                            <input class="form-control input-sm" ng-model="state.userName"
                                   placeholder="Add your name...">
                        </div>
                        <div class="form-group">
                            <label>Your message:</label>
                            <textarea class="form-control input-sm" ng-model="state.message"
                                      placeholder="Type your message here..."></textarea>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary" ng-click="addMessage()">Send</button>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Additional information can also be found on the <a target="_blank"
                                                                  href="http://www.mccscp.com/brushfire">Camp Pendleton Fire Page</a>.</p>
        </div>
    </div>
</div>


<!-- CDN Resources -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<!-- build:js scripts/vendor.js -->

<script src="bower_components/firebase-bower/firebase.js"></script>
<script src="bower_components/angularfire/angularfire.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/lodash/dist/lodash.js"></script>


<script src="bower_components/textAngular/textAngular-sanitize.js"></script>
<script src="bower_components/textAngular/textAngular.min.js"></script>


<!-- endbuild -->

<!--Angular Modules-->
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-touch.min.js"></script>


<!-- build:js scripts/scripts.js -->

<script src="scripts/app.js"></script>

<!-- endbuild -->


</body>
</html>